@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Space+Grotesk:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

body,html {
  min-height: 100dvh;
  height: 100dvh;
  width: 100vw;
  /* overflow-x: hidden; */
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  position: relative;
}
* {
  font-family: 'Space Grotesk', sans-serif;
}
.App {
  text-align: center;
}

#root, .App-header {
  background-color: rgb(124 58 237 / var(--tw-bg-opacity));
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 480px){

  section {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    scroll-snap-align: center;
    perspective: 500px;
  }


  section > div {
    width: 100%;
    /* height: 600px; */
    /* position: relative; */
    min-height: 90dvh;
    margin: 20px;
    /* overflow: hidden; */
  }
}

#slider {
  top: calc(50% - 84px);
}
@media screen and (max-width: 480px){
  #slider {
    top: calc(50% - 84px);
    left: 20px;
    background-color: rgb( 124 58 237 / var(--tw-bg-opacity));
    padding: 20px;
    border-radius: 20px;
  }
  section {
    display: flex;
    height: 50dvh;
    justify-content: center;
    position: relative;
    align-items: end;
  }
  section > div {
    padding-top: 20px;
    width: 100%;
    position: relative;

    min-height: 50dvh;
  }  
}
#slider {
  top: calc(50% - 84px)
}
/* section > div > p { */
  /* position: absolute; */
  /* With respect to scroll configuration */
  /* top: calc(50% - 144px + 42px); */
  /* right: 0; */
  /* bottom: 0; */
  /* width: 100%;
  height: 100%; */
/* } */